*, 
*:before, 
*:after {
	box-sizing: border-box;
}

body, 
h1{
	margin: 0;	
}

.center{
	margin: 0 auto;
}

.form-width{
	width: 640px;
	min-width: 640px;
}

.margin-top{
	margin-top: 25px;
}

.margin-btm{
	margin-bottom: 25px;
}

body{
	background-color: #CEDEE1;
	font-family: Arial, Helvetica, sans-serif;
	color: #212121;
}

#banner{
	background-color: darkblue;
	/*background-image: url(https://lh3.googleusercontent.com/-DNzbUzxmJHsQph-vBWKhabJXtu2lB8m_BZaekUFPm90P8-vbrMeDAo0yy-lHsMbHEPi2wVeBw=w1200); */
	height: 280px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

main{
	background-color: white;
	border-top: 8px solid #65D9ED;

	position: relative;
	top: -100px;

	padding: 35px 35px;
}

h1{
	/*line-height: 26px;*/
	font-size: 32px;
	font-weight: lighter;
	margin-bottom: 24px;
}

.notice{
	color: #D3483E;
}

.form-div{
	padding: 22px 0;
}

.form-div label, 
legend{
	font-size: 1.25rem;
}

.form-div span{
	font-size: 1.35rem;
}

main p{
	font-size: .82rem;
	margin: 18px 0;
}

input, 
label{
	display: block;
}

#other-improve~input[type="text"]{
	display: inline-block;
}

input:not([type="radio"]):not([type="checkbox"]),
textarea{
	font-size: 1rem;
	border:0;
	border-bottom: 1px solid rgba(181,181,181,.5);
}

input:not([type="radio"]):not([type="checkbox"]):focus,
textarea:focus{
	border-bottom: 2px solid #000;
	outline: none;
}

select{
	padding: 0 15px;
	outline: none;
	font-size: 1rem;
	border:0;
}

input[type="text"],
input[type="email"]{
	width: 50%;

}

input[type="number"]{
	width: 22%;
}

select{
	height: 42px;
	padding: 0 auto;
	font-size: .83rem;
	font-weight: bolder;
}
/*to make the first option "choose" only appear gray, else black*/
select option{
	color: #212121;
	font-weight: bold;
	font-size: .83rem;
}

select:invalid, 
select option[value=""]{
	color: rgb(181,181,181);
}
/**/
select:active{
	background-color: rgba(181,181,181,.4);
}


fieldset, 
legend{
	border: 0;
	padding: 0;
	margin: 0;
}

input[type="radio"],
input[type="checkbox"],
input[type="radio"]+label,
input[type="checkbox"]+label{
	font-size: 1.06rem; /*ideally 17px*/
	display: inline-block;
}

/* Custom radio button https://codepen.io/manabox/pen/raQmpL (modified) */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #212121;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid gray;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #161e3d;
    position: absolute;
    top: 5px;
    left: 5px;
     /*border: 2px solid #161e3d; */
    border-radius: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.7s ease;
}
[type="radio"]:checked + label:before{
    border: 2px solid #161e3d;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*end code snippet (modified)*/

.footer{
	text-align: center;
	position: relative;
	top: -80px;

}

.footer{
	font-size: .82rem;
	margin-top: 18px;
	margin-bottom: 18px;
}