*, *:before, *:after {
	box-sizing: border-box;
}

body, h1{
	margin: 0;	
}

.center{
	margin: 0 auto;
}

.form-width{
	width: 640px;
	min-width: 640px;
}

body{
	background-color: #CEDEE1;
	font-family: Arial, Helvetica, sans-serif;
	color: #212121;
}

#banner{
	/*background-color: violet;*/
	background-image: url(https://lh3.googleusercontent.com/-DNzbUzxmJHsQph-vBWKhabJXtu2lB8m_BZaekUFPm90P8-vbrMeDAo0yy-lHsMbHEPi2wVeBw=w1200); 
	height: 280px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

main{
	background-color: white;
	border-top: 8px solid #65D9ED;

	position: relative;
	top: -100px;

	padding: 35px 35px;
}

h1{
	/*line-height: 26px;*/
	font-size: 32px;
	font-weight: lighter;
	margin-bottom: 24px;
}

.notice{
	color: #D3483E;
}
.form-div{
	margin: 22px 0;
}

main p{
	font-size: .82rem;
	margin: 18px 0;
}

input, label{
	display: block;
}

input[type="radio"],
input[type="checkbox"]{
	display: inline-block;
}

[type="text"]~label{
	margin-top: 30px;
	margin-bottom: 30px;
}

#other-improve+input[type="text"]{
	display: inline-block;
}

.footer{
	text-align: center;
	position: relative;
	top: -80px;

}

.footer{
	font-size: .82rem;
	margin-top: 18px;
	margin-bottom: 18px;
}