*, *:before, *:after {
	box-sizing: border-box;
}

body, h1{
	margin: 0;	
}

.center{
	margin: 0 auto;
}

.form-width{
	width: 640px;
	min-width: 640px;
}

.margin-top{
	margin-top: 25px;
}

.margin-btm{
	margin-bottom: 25px;
}

body{
	background-color: #CEDEE1;
	font-family: Arial, Helvetica, sans-serif;
	color: #212121;
}

#banner{
	background-color: darkblue;
	/*background-image: url(https://lh3.googleusercontent.com/-DNzbUzxmJHsQph-vBWKhabJXtu2lB8m_BZaekUFPm90P8-vbrMeDAo0yy-lHsMbHEPi2wVeBw=w1200); */
	height: 280px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

main{
	background-color: white;
	border-top: 8px solid #65D9ED;

	position: relative;
	top: -100px;

	padding: 35px 35px;
}

h1{
	/*line-height: 26px;*/
	font-size: 32px;
	font-weight: lighter;
	margin-bottom: 24px;
}

.notice{
	color: #D3483E;
}

.form-div{
	padding: 22px 0;
}

.form-div label{
	font-size: 1.25rem;
}

.form-div span{
	font-size: 1.35rem;
}

main p{
	font-size: .82rem;
	margin: 18px 0;
}

input, label{
	display: block;
}

input[type="radio"],
input[type="checkbox"]{
	display: inline-block;
}

#other-improve+input[type="text"]{
	display: inline-block;
}

input:not([type="radio"]):not([type="checkbox"]),
textarea{
	font-size: 1rem;
	border:0;
	border-bottom: 1px solid rgba(181,181,181,.5);
}

input:not([type="radio"]):not([type="checkbox"]):focus,
textarea:focus{
	border-bottom: 2px solid #000;
	outline: none;
}

select{
	padding: 0 15px;
	outline: none;
	font-size: 1rem;
	border:0;
}

input[type="text"],
input[type="email"]{
	width: 50%;

}

input[type="number"]{
	width: 22%;
}

select{
	height: 42px;
	padding: 0 auto;
	font-size: .83rem;
	font-weight: bolder;
}

select option{
	color: #212121;
	font-weight: bold;
	font-size: .83rem;
}

select:invalid, select option[value=""]{
	color: rgb(181,181,181);
}

select:active{
	background-color: rgba(181,181,181,.4);
}

.footer{
	text-align: center;
	position: relative;
	top: -80px;

}

.footer{
	font-size: .82rem;
	margin-top: 18px;
	margin-bottom: 18px;
}